@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

body {
    background: rgb(110, 84, 255);
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-size: 60px;
    color: #000;
    font-family: 'Vollkorn', serif;
    color: #fff;
}

.comment {
    background-color: rgb(228, 199, 199);
    width: 80%;
    height: 42px;
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
}

h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 12pt;

}

.card {
    margin: 60px auto;
    position: flex;
    background: linear-gradient(#e66465, #9198e5);
    color: rgb(5, 90, 164);
    border-radius: 15px;
    min-height: 300px;
    min-width: 300px;
    max-width: 400px;
}

.taskInput {
    padding: 10px;
    border-radius: 3rem 0 0 3rem;
    border: 2px solid #5d0cff;
    outline: none;
    width: 65%;
    background: transparent;
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
}

.taskInput::placeholder {
    color: #e2e2e2;
}

.addTaskBtn {
    padding: 12px;
    border: none;
    border-radius: 0 3rem 3rem 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);
    color: #fff;
    text-transform: capitalize;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.taskText{
    text-decoration: line-through;
}

.task-row {
    padding: 12px;
    border-radius: 3rem;
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px auto;
    color: #fff;
    background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
}

.task-row:nth-child(4n + 1) {
    background: linear-gradient(90deg, rgb(170, 91, 160) 0%, rgba(155, 0, 250, 1) 100%);
}

.task-row:nth-child(4n + 2) {
    background: linear-gradient(90deg, rgb(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

.task-row:nth-child(4n + 3) {
    background: linear-gradient(90deg, rgb(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

.task-row:nth-child(4n + 4) {
    background: linear-gradient(90deg, rgb(48, 207, 181, 1) 0%, rgba(0, 247, 255, 1) 100%);
}

.task-row:nth-child(4n + 5) {
    background: linear-gradient(90deg, rgb(207, 53, 48) 0%, rgb(255, 115, 0) 100%);
}